body {
    background-color: #f5f5f5;
    color: #000;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.level-entry {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}

.level-entry img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.level-info {
    flex: 1;
}

.level-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.level-info p {
    margin: 5px 0;
}

.level-number {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
}

.creator {
    font-style: italic;
    color: #777;
}

.guidelines {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}

.guidelines h2 {
    margin-top: 0;
}

button {
    margin: auto 585px;
    background-color: #f5f5f5;
    border-color: #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px #000000;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .25s;
}

a {
    color: #000;
}

button:hover {
    box-shadow: 0 7.5px 10.5px #2d2d2d;
    background-color: #ffffff;
}

.jump-section {
    background: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    display:grid;
    flex-direction: column;
    gap: 0px;
    margin: auto;
    width: 575px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.jump-section input {
    padding: 8px;
    width: 100px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

.jump-section button {
    padding: auto;
    font-size: 16px;
    cursor: pointer;
    background: #ffffff;
    color: #000;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.jump-section button:hover {
    background: #000000;
    color: #fff;
}